---
import { getCollection } from "astro:content"
import type { GetStaticPaths } from "astro"
import BlogLayout from "../../layouts/BlogLayout.astro"
import Header from "../../components/Header.astro"
import Footer from "../../components/Footer.astro"
import PostCard from "../../components/PostCard.astro"
import FeaturedCard from "../../components/FeaturedCard.astro"
import Pagination from "../../components/Pagination.astro"
import SiteOptions from "../../site.config.mjs"

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection("article")
  const sortedPosts = allPosts.sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf())

  return paginate(sortedPosts, {
    pageSize: SiteOptions.numberOfBlogPostsPerPage || 8, // Number of posts per page
  })
}) satisfies GetStaticPaths

const { page } = Astro.props

// Get featured posts for the first page only
const allPosts = await getCollection("article")
const featuredPosts = page.currentPage === 1 ? allPosts.filter((post) => post.data.featured).slice(0, 3) : []

const pageTitle = page.currentPage === 1 ? SiteOptions.siteTitle : `Blog - Page ${page.currentPage} | ${SiteOptions.siteTitle}`
const showCategory = SiteOptions.showCategoryOnPosts || false
---

<BlogLayout title={pageTitle}>
  <Header showTitle={false} />

  <!-- Light Horizontal Bar -->
  <!-- Latest Blog Posts -->
  <section class="max-w-[1100px] mx-auto px-4">
    <hr class="border-t border-gray-200 dark:border-gray-700 my-8" />
    <!-- <h2 class={`text-2xl font-semibold mb-8  text-center`}>All Posts</h2> -->
    <ul class="space-y-4">
      {page.data.map((post) => <PostCard post={post} showCategory={showCategory} />)}
    </ul>
  </section>

  <!-- Pagination -->
  <Pagination page={page} />


  <div class="text-center mt-8">
    <span
      onclick="window.history.back()" 
      class="rounded-sm no-underline inline-flex bg-gray-100 dark:text-slate-300 dark:bg-slate-700 items-center cursor-pointer px-6 py-2 text-sm hover:bg-gray-200 dark:hover:bg-slate-600 font-medium"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="m7.825 13l4.9 4.9q.3.3.288.7t-.313.7q-.3.275-.7.288t-.7-.288l-6.6-6.6q-.15-.15-.213-.325T4.426 12t.063-.375t.212-.325l6.6-6.6q.275-.275.688-.275t.712.275q.3.3.3.713t-.3.712L7.825 11H19q.425 0 .713.288T20 12t-.288.713T19 13z"/></svg>
      &nbsp;
      Back
    </span>
  </div>
  <!-- Minimal Footer -->
  <Footer />
</BlogLayout>
